In [1]:
import pandas as pd

In [2]:
# Import train data
ne_train = pd.read_csv("../data/old_ver/ne_train.csv")
s_train = pd.read_csv("../data/old_ver/s_train.csv")

In [25]:
ne_train[ne_train.date == "2020-03-02"]

,date,cat__social_distancing_total_grade_B,cat__social_distancing_total_grade_C,cat__social_distancing_total_grade_C+,cat__social_distancing_total_grade_C-,cat__social_distancing_total_grade_D,cat__social_distancing_total_grade_D+,cat__social_distancing_total_grade_F,cat__social_distancing_visitation_grade_A,cat__social_distancing_visitation_grade_F,...,num__age_85_or_higher,num__immigrant_student_ratio,num__weekend,num__lagged_covid_19_confirmed_cases_15,num__lagged_covid_19_confirmed_cases_30,num__lagged_covid_19_confirmed_cases_45,num__rolling_covid_19_confirmed_cases_15,num__rolling_covid_19_confirmed_cases_30,num__rolling_covid_19_confirmed_cases_45,covid_19_confirmed_cases
40,2020-03-02,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,...,4.440892e-16,-3.469447e-18,-0.627822,-0.801217,-0.758552,-0.722707,-0.869645,-0.909726,-0.975085,3.0

In [26]:
s_train[s_train.date == "2020-03-02"]

,date,cat__social_distancing_total_grade_B,cat__social_distancing_total_grade_C,cat__social_distancing_total_grade_C-,cat__social_distancing_total_grade_D,cat__social_distancing_total_grade_D+,cat__social_distancing_total_grade_D-,cat__social_distancing_total_grade_F,cat__social_distancing_visitation_grade_F,cat__social_distancing_encounters_grade_A,...,num__age_85_or_higher,num__immigrant_student_ratio,num__weekend,num__lagged_covid_19_confirmed_cases_15,num__lagged_covid_19_confirmed_cases_30,num__lagged_covid_19_confirmed_cases_45,num__rolling_covid_19_confirmed_cases_15,num__rolling_covid_19_confirmed_cases_30,num__rolling_covid_19_confirmed_cases_45,covid_19_confirmed_cases
40,2020-03-02,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,...,-6.661338e-16,3.469447e-18,-0.627822,-0.790965,-0.841686,-0.838709,-0.826901,-0.831911,-0.854373,1.0

In [27]:
ne_train = ne_train.iloc[40:]

In [28]:
s_train = s_train.iloc[40:]

In [29]:
ne_train.reset_index(inplace = True, drop = True)

In [30]:
s_train.reset_index(inplace = True, drop = True)

In [35]:
ne_train[ne_train.covid_19_confirmed_cases == 0]

Empty DataFrame
Columns: [date, cat__social_distancing_total_grade_B, cat__social_distancing_total_grade_C, cat__social_distancing_total_grade_C+, cat__social_distancing_total_grade_C-, cat__social_distancing_total_grade_D, cat__social_distancing_total_grade_D+, cat__social_distancing_total_grade_F, cat__social_distancing_visitation_grade_A, cat__social_distancing_visitation_grade_F, cat__social_distancing_encounters_grade_A, cat__social_distancing_encounters_grade_F, cat__social_distancing_travel_distance_grade_B, cat__social_distancing_travel_distance_grade_C, cat__social_distancing_travel_distance_grade_D, cat__social_distancing_travel_distance_grade_F, num__daily_state_test, num__precipitation, num__temperature, num__total_population, num__female_percent, num__area, num__population_density, num__latitude, num__longitude, num__hospital_beds_ratio, num__ventilator_capacity_ratio, num__icu_beds_ratio, num__houses_density, num__less_than_high_school_diploma, num__high_school_diploma_only, num__some_college_or_higher, num__total_college_population, num__percent_smokers, num__percent_diabetes, num__Religious_congregation_ratio, num__political_party, num__airport_distance, num__passenger_load_ratio, num__meat_plants, num__median_household_income, num__percent_insured, num__deaths_per_100000, num__gdp_per_capita, num__age_0_4, num__age_5_9, num__age_10_14, num__age_15_19, num__age_20_24, num__age_25_29, num__age_30_34, num__age_35_39, num__age_40_44, num__age_45_49, num__age_50_54, num__age_55_59, num__age_60_64, num__age_65_69, num__age_70_74, num__age_75_79, num__age_80_84, num__age_85_or_higher, num__immigrant_student_ratio, num__weekend, num__lagged_covid_19_confirmed_cases_15, num__lagged_covid_19_confirmed_cases_30, num__lagged_covid_19_confirmed_cases_45, num__rolling_covid_19_confirmed_cases_15, num__rolling_covid_19_confirmed_cases_30, num__rolling_covid_19_confirmed_cases_45, covid_19_confirmed_cases]
Index: []

[0 rows x 71 columns]

In [36]:
s_train[s_train.covid_19_confirmed_cases == 0]

,date,cat__social_distancing_total_grade_B,cat__social_distancing_total_grade_C,cat__social_distancing_total_grade_C-,cat__social_distancing_total_grade_D,cat__social_distancing_total_grade_D+,cat__social_distancing_total_grade_D-,cat__social_distancing_total_grade_F,cat__social_distancing_visitation_grade_F,cat__social_distancing_encounters_grade_A,...,num__age_85_or_higher,num__immigrant_student_ratio,num__weekend,num__lagged_covid_19_confirmed_cases_15,num__lagged_covid_19_confirmed_cases_30,num__lagged_covid_19_confirmed_cases_45,num__rolling_covid_19_confirmed_cases_15,num__rolling_covid_19_confirmed_cases_30,num__rolling_covid_19_confirmed_cases_45,covid_19_confirmed_cases
2,2020-03-04,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,...,-6.661338e-16,3.469447e-18,-0.627822,-0.790965,-0.841686,-0.838709,-0.826876,-0.831896,-0.854373,0.0

In [37]:
s_train.replace({"covid_19_confirmed_cases": {0:1}}, inplace = True)

In [40]:
ne_train.to_csv("/Users/Huey.ts/Desktop/STAT_390/data/ne_train.csv")

In [41]:
s_train.to_csv("/Users/Huey.ts/Desktop/STAT_390/data/s_train.csv")